@font-face {
  font-family: "iconfont"; /* Project id 2525433 */
  src: url('iconfont.woff2?t=1621130264753') format('woff2'),
       url('iconfont.woff?t=1621130264753') format('woff'),
       url('iconfont.ttf?t=1621130264753') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconyinliang:before {
  content: "\e626";
}

.iconxiayiqu:before {
  content: "\e7ff";
}

.iconshangyiqu:before {
  content: "\e800";
}

.iconshanchu1:before {
  content: "\e67d";
}

.iconpinglun1:before {
  content: "\e665";
}

.iconzan:before {
  content: "\e604";
}

.icondian:before {
  content: "\e6d3";
}

.iconchongzhi:before {
  content: "\e601";
}

.iconliuliangchongzhi:before {
  content: "\e655";
}

.icon3702mima:before {
  content: "\e66c";
}

.iconyonghu1:before {
  content: "\e607";
}

.iconshoujichongzhi:before {
  content: "\e62f";
}

.iconshipin:before {
  content: "\e603";
}

.iconqunfengshenghuofuwuchong:before {
  content: "\e69d";
}

.iconyule:before {
  content: "\e62b";
}

.iconwanggou:before {
  content: "\e63a";
}

.icon38tongxunfuwu:before {
  content: "\e633";
}

.iconbianlidian:before {
  content: "\e602";
}

.icon73:before {
  content: "\e6a0";
}

.iconyonghu:before {
  content: "\e66f";
}

.iconguanliyuan:before {
  content: "\e600";
}

.iconpengyouquan:before {
  content: "\e65b";
}

.iconyinle:before {
  content: "\e62e";
}

